env/
.vscode/
Calcura/backend/backend/_pycache_/
Calcura/backend/Calcura/_pycache_/
Calcura/backend/Calcura/migrations/
Calcura/backend/chatSystem/_pycache_/
Calcura/backend/chatSystem/migrations/
.env