env/
.vscode/
backend/backend/_pycache_/
backend/Calcura/_pycache_/
backend/Calcura/migrations/
backend/Calcura/migrations/_pycache_/
backend/chatSystem/_pycache_/
backend/chatSystem/migrations/
.env
!.pyc