<!DOCTYPE html>
{% extends '../calcura/base.html' %}
{% load static %}
<html>
  <body onload="scrollDown()">
    {% block content %}
    <title>Chats | Calcura</title>
    <div class="grid grid-cols-7 items-center justify-center mt-3">
      <button type="button" class="ml-2 col-span-2" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation" data-drawer-backdrop="true">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="sm:hidden w-6 h-6 mr-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 010 3.75H5.625a1.875 1.875 0 010-3.75z" />
        </svg>  
      </button>
      <div class="col-span-3 flex flex-row mx-auto">
        <svg class="w-10 h-10 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
        </svg>
        <h1 class="text-4xl text-gray-900 text-center font-bold">Chats</h1>
      </div>
    </div>
    <br>
    <!-- Chat list is shown in the sidebar in mobile view/smaller screens -->
    <div id="drawer-navigation" class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white" tabindex="-1" aria-labelledby="drawer-navigation-label">
      <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Your Chats</h5>
      <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close menu</span>
      </button>
      <div class="py-4 overflow-y-auto">
        <!-- Each chat that the user is in is displayed -->
        {% for chat in chats %}
          <a name="chat" href="{{chat.0.id}}" class="text-sm relative inline-flex items-center w-full px-4 py-2 font-medium border-b border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
            <img class="w-8 h-8 mr-2 rounded-full" src="{{chat.1.socialaccount_set.all.0.get_avatar_url}}">
            {{chat.1.get_full_name}}
            <input type="hidden" name="email" id="email" value="{{chat.1.email}}">
          </a>
        {% endfor %}
     </div>
  </div>
  <div class="alert" id="alert"></div>
    <div class="grid grid-cols-1 sm:grid-cols-3 h-96 max-h-96">
 
      <!-- Sidebar showing user all of their chats on larger screens-->
      <div class="hidden sm:block col-span-1 mr-2 ml-5 border-2 rounded-lg max-h-full">
        <div class="relative inline-flex items-center w-full py-2 font-medium shadow-md"></a>
          <div class="mx-auto">
            <p class="text-center text-sm">Your Chats</p>
          </div>
        </div>
        <div class="max-h-96 overflow-y-auto">
 
        <!-- Each chat that the user is in is displayed -->
        {% for chat in chats %}
          <a name="chat" href="{{chat.0.id}}" class="text-sm relative inline-flex items-center w-full px-4 py-2 font-medium border-b border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
            <img class="w-8 h-8 mr-2 rounded-full" src="{{chat.1.socialaccount_set.all.0.get_avatar_url}}">
            {{chat.1.get_full_name}}
            <input type="hidden" name="email" id="email" value="{{chat.1.email}}">
          </a>
        {% endfor %}
        </div>
      </div>
 
      <!-- If entering a specific room (not the base page) -->
      {% if not basePage %}
      <!-- If the room is locked, shows an error message -->
      {% if locked %}
      <div class="flex flex-wrap p-8 m-auto col-span-2 w-1/2 sm:1/4 items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
        </svg>        
        <p class="px-5 text-lg tracking-tight text-gray-900 text-center pt-5">An administrator has locked this room.</p>
      </div>

      {% else %}
      <div id="report-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="report-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="px-6 py-6 lg:px-8">
                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Report</h3>
                    <form class="space-y-6" action="#" method="POST">
                      {% csrf_token %}
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reported User</label>
                            <p name="user" class="flex flex-row items-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                              <img class="w-4 h-4 mr-2 rounded-full" src="{{otherUser.socialaccount_set.all.0.get_avatar_url}}">
                              {{otherUser.get_full_name}}
                            </p>
                            <input name='roomid' type="hidden" value="{{room}}">
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                            <input name="description" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                        </div>
                        <button type="submit" name="report" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit Report</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
      <div class="col-span-2 relative mx-2 sm:ml-0 sm:mr-5 h-96">
        <div class="relative items-center inline-flex w-full px-4 py-2 font-medium border-b border-r border-l shadow-md border-gray-200 rounded-lg flex justify-between">
          <div class="items-center inline-flex">
            <img class="w-10 h-10 mr-2 rounded-full" src="{{otherUser.socialaccount_set.all.0.get_avatar_url}}">
            {{otherUser.get_full_name}}
          </div>
          <div>
            <button name="report" data-modal-target="report-modal" data-modal-toggle="report-modal">
              <svg class="w-4 h-4 hover:fill-yellow-400 z-10 hover:scale-110" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0l2.77-.693a9 9 0 016.208.682l.108.054a9 9 0 006.086.71l3.114-.732a48.524 48.524 0 01-.005-10.499l-3.11.732a9 9 0 01-6.085-.711l-.108-.054a9 9 0 00-6.208-.682L3 4.5M3 15V4.5" />
              </svg>
            </button>
          </div>
        </div>
        <div style="width:100%;" class="mb-2 max-h-[17.75rem] overflow-y-auto" id="id_chat_item_container" onload="scrollDown()">
 
          <!-- Displaying messages for the chat -->
          {% for message in messages %}
            {% if message.deleted == False %}
            <!-- If the message is from the user, the message is styled and displayed to the right -->
            {% if message.user.email == request.user.email %}
              <div class="grid justify-items-end mr-2" id="{{message.id}}">
                <div class="group hover:bg-violet-600 bg-violet-500 rounded-tl-lg shadow-lg rounded-tr-lg rounded-bl-lg max-w-lg inline-block border-b border-gray-200 rounded-lg flex flex-row">
                  <div class="grid grid-cols-1">
                  <p class="text-xs text-gray-200 pt-1 px-1.5 hidden group-hover:grid">{{message.user.get_full_name}}</p>
                  <p class="text-base text-white px-1.5 pb-1.5 pt-1.5 group-hover:pt-0 break-words">{{message.message}}</p>
                  <p class="text-[7px] text-gray-200 px-1.5 hidden group-hover:grid">{{message.datetime}}</p>
                </div>
                <button onclick="deleteMessage('{{message.id}}')"
                  type="button" class="hidden group-hover:inline">
                  <svg class="mr-2 w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
                </button>
                </div>
              </div>
            
            <!-- If the user is the recipient of the message, the message is styled and displayed to the left -->
            {% else %}
              <div class="ml-2" id="{{message.id}}">
                <div class="group hover:bg-gray-500 bg-gray-400 rounded-lg shadow-lg max-w-lg inline-block border-b border-0.5 border-gray-200">
                  <p class="text-xs text-gray-200 pt-1 px-1.5 hidden group-hover:grid">{{message.user.get_full_name}}</p>
                  <p class="text-base text-white px-1.5 pb-1.5 pt-1.5 group-hover:pt-0 break-words">{{message.message}}</p>
                  <p class="text-[7px] text-gray-200 px-1.5 hidden group-hover:grid">{{message.datetime}}</p>
                </div>
              </div>
            {% endif %}
            {% endif %}
          {% endfor %}
 
        </div>
 
        <!-- Input & Button to send messages -->
        <div class="absolute bottom-0 inset-x-0 flex flex-row">
          <input type="text" id="id_message_send_input" max_length="400" class="bg-gray-50 shadow-lg border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <button type="submit" id="id_message_send_button" class="ml-2 text-white shadow-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
            </svg>            
          </button>
        </div>
        {% endif %}
 
        <!-- Only called if a user enters generic /chat/ page, not a specific room -->
        {% else %}
          <!-- If a user has rooms, tell them to open one -->
          {% if roomsExist %}
            <div class="flex flex-wrap col-span-2 p-8 m-auto w-1/2 sm:1/4 items-center justify-center">
              <img class="w-10 h-10" src="{% static 'images/chatting-by-telephone-svgrepo-com.svg' %}">
              <p class="px-5 text-lg tracking-tight text-gray-900 text-center pt-5">Open up a chat from the sidebar!</p>
            </div>
          <!-- If the user does not have any rooms, show an empty room message -->
          {% else %}
          <div class="col-span-2 flex flex-wrap p-8 m-auto w-1/2 sm:1/4 items-center justify-center">
            <img class="w-10 h-10" src="{% static 'images/sad-sitting-svgrepo-com.svg' %}">
            <p class="px-5 text-lg tracking-tight text-gray-900 text-center pt-5">It's looking empty here...</p>
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
 
    <script>
      startTime=new Date();
      window.onload = (event) => {
        startTime= new Date("jan 1, 2000 12:12:50");
      };      
      function scrollDown() {
        /*
        Function to scroll the chat container to the bottom
        Args: None
        Returns: None
        */
        var objDiv = document.getElementById("id_chat_item_container");
        objDiv.scrollTop = objDiv.scrollHeight;
      }
      // When the page is loaded, the chat container is scrolled to the bottom
      document.addEventListener("DOMContentLoaded", function() {
        scrollDown();
      });
      
      //Setting the websocket route to the domain + websocket/chat and the roomname provided by backend
      const chatSocket = new WebSocket(`ws://` + window.location.host + `/ws/chat/`+"{{room}}" + '/');
      // Sts focus on the input field which allows it to receive keyboard and similar events by default
      document.querySelector("#id_message_send_input").focus();


      //Checks if a button is pressed
      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        /*
        Function to check if the enter button is pressed. If so, the send button is automatically clicked
        Args:
          e (key): the key that has been pressed
        Returns: none
        */

        if (e.keyCode == 13) {
          //Only allow users to send messages every second, no less
          if (new Date().getTime()-startTime.getTime()>1000){
            startTime=new Date();
            document.querySelector("#id_message_send_button").click();
          } else{
            document.getElementById("alert").innerHTML=`
            <div id="alert-2" class="flex p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert-2">
              <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Info</span>
              <div class="ml-3 text-sm font-medium">
                You can only send messages every second. Don't spam :) 
              </div>
              <button onclick="removeAlert()" type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-2" aria-label="Close" aria-hidden="true">
                <span class="sr-only">Close</span>
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button>
            </div>`
          }
        }
      };
      function removeAlert(){
        elem=document.getElementById("alert-2");
        elem.remove();
      }

      // Checks if the send button is clicked
      document.querySelector("#id_message_send_button").onclick = function () {
        /*
        Function that sends the message to the backend
        Args: None
        Returns: none
        */
        // The message is stored as messageInput
        var messageInput = document.querySelector(
          "#id_message_send_input"
        ).value;
        // Using the websocket, the message and the email of the user sending the message is sent to the backend
        chatSocket.send(JSON.stringify({ message: messageInput, email : "{{request.user.email}}"}));
      };
      function deleteMessage(id) {
        /*
        Used to delete a message
        Args: None
        Returns: None
        */
        chatSocket.send(JSON.stringify({ message: id, email : "delete@delete.com"}));
      };

      // Checks if a message is reveived from the websocket
      chatSocket.onmessage = function (parsedData) {
        /*
        Function that receives data sent from the backend using the websocket
        Args:
          parsedData(JSON): data from the chatsocket
        Returns:
          none
        */
        const data = JSON.parse(parsedData.data);
        // Checks if the data sent wishes to delete a message
        // This is checked using the unique email identifier "delete@delete.com" which is sent when deleting a message
        if (data.email=="delete@delete.com"){
          //The message is deleted using the message ID 
          const element = document.getElementById(`${data.message}`);
          element.remove();
        }
        //Ensures the message is not empty
        else if (data.message!=""){
          //Creates a generic dive with HTML to beadded to
          var div = document.createElement("div");
          //Checks if the user is sending the message
          if (data.email == "{{request.user.email}}"){
            //The user's message is styled and appended to the created div//
            div.innerHTML =`<div class="grid justify-items-end mr-2" id="${data.messageId}">
                <div class="group hover:bg-violet-600 bg-violet-500 rounded-tl-lg shadow-lg rounded-tr-lg rounded-bl-lg max-w-lg inline-block border-b border-gray-200 rounded-lg flex flex-row">
                  <div class="grid grid-cols-1">
                    <p class="text-xs text-gray-200 pt-1 px-1.5 hidden group-hover:grid">${data.fullname}</p>
                    <p class="text-base text-white px-1.5 pb-1.5 pt-1.5 group-hover:pt-0 break-words">${data.message}</p>
                    <p class="text-[7px] text-gray-200 px-1.5 hidden group-hover:grid">${data.time}</p>
                  </div>
                <button onclick="deleteMessage('${data.messageId}')"
                  type="button" class="hidden group-hover:inline">
                  <svg class="mr-2 w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
                </button>
                </div>
              </div>`;
            //The message input field is reset//
            document.querySelector("#id_message_send_input").value = "";
          }
          //Checks if the user is the recipient of the message
          else{
            /*The other user's message is styled and appended to the created div*/
            div.innerHTML = `
            <div class="ml-2" id="${data.messageId}">
                <div class="bg-gray-400 rounded-lg shadow-lg max-w-lg inline-block border-b border-0.5 border-gray-200">
                  <p class="text-base text-white p-1.5 break-words">${data.message}</p>
                </div>
              </div>
            `;
          }
          // The created div is appended to the chat container
          document.querySelector("#id_chat_item_container").appendChild(div);
          // The chat is scrolled to the latest message
          scrollDown()
        }
      };
      var x = document.createElement("div");
      x.innerHTML=`${startTime}`
    </script>
    {% endblock %}
  </body>
</html>