<!DOCTYPE html>
{% extends '../calcura/base.html' %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Edit Listing | Calcura</title>
</head> 
<html>
  <body>
    {% block content %}
    <h1 class="text-4xl text-gray-900 text-center font-bold pt-5">Chats</h1>
    <br>
    <p class="text-lg tracking-tight text-gray-900 text-center pt-5">You don't have any Chats yet.</p>
    {% endblock %}
  </body>
</html>