{% extends './base.html' %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create Listing | Calcura</title>
  </head>
  <body>

  {% block content %}

  <h1 style="text-align:center">Create Listing</h1>
  <form action="" method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="title" class="leading-7 text-sm text-gray-600" aria-required="true">Title</label>
              <input type="text" id="title" name="title" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="price" class="leading-7 text-sm text-gray-600">Price</label>
              <input type="number"  id="price" step="0.01" name="price" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"required>
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="description" class="leading-7 text-sm text-gray-600">Description</label>
              <textarea id="description" name="description" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"required></textarea>
            </div>
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="tags" class="leading-7 text-sm text-gray-600">tags</label>
            <input type="text"  id="tags" name="tags" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"required>
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="id_docfile" class="leading-7 text-sm text-gray-600">Select Images:</label>
            <input name="id_docfile" type="file" id="id_docfile" accept="image/*" class="form-control-file" onchange="showPreview(event);" multiple required>
          </div>
        </div>
        <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Send</button>
        </div>
      </form>

      <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
          <div id ="imageswrapper" class="flex flex-wrap">
          </div>
        </div>
      </section>

      </div>
  <script>
      function showPreview(event){
        var wrapper = document.getElementById("imageswrapper");
        var myHTML = '';
        for (let i = 0; i < event.target.files.length; i++) {
          myHTML += `<div class="flex flex-wrap w-1/3">
            <div class="w-full p-1 md:p-2 my-1">
              <img alt="gallery" id = "id_docfile-preview${i}" class="block object-cover object-center w-full h-full rounded-lg">
            </div>
          </div>`;
        }
        wrapper.innerHTML = myHTML
        if(event.target.files.length > 0){
          for (let i = 0; i < event.target.files.length + 1; i++){
            var src = URL.createObjectURL(event.target.files[i]);
            var preview = document.getElementById(`id_docfile-preview${i}`);
            preview.src = src;
          }
        }
      }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
  {% endblock %}
  </body>
</html>