{% extends './base.html' %}
{% load socialaccount %}
{% load i18n %}
<!doctype html>
<html lang="en">
  <body>

  <!-- Background Gradient -->
  <!-- from https://tailwindui.com/components/marketing/sections/heroes -->
  {% block content %}
  <title>Home | Calcura</title>
<!-- Hero Section -->

<section>
  <div class="grid max-w-6xl md:max-w-8xl px-4 py-8 mx-auto md:gap-8 xl:gap-0 lg:grid-cols-12 my-8 lg:my-48">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]">
      <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
        <defs>
          <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
            <stop stop-color="#9089FC"></stop>
            <stop offset="1" stop-color="#FF80B5"></stop>
          </linearGradient>
        </defs>
      </svg>
    </div>
      <div class="mr-auto place-self-center lg:col-span-7 delay-[300ms] duration-[600ms] taos:opacity-0" data-taos-offset="100">
          <h1 id="app" class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight text-gray-800 leading-none md:text-5xl xl:text-6xl">Welcome to Calcura</h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
            {% if user.is_authenticated == False %}
            <a href="{% provider_login_url 'google' %}" class="mr-2 inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700">
              Sign In
              <span class="text-indigo-200" aria-hidden="true">&rarr;</span>
            </a>
            {% endif %}
            <a href="#" class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
           Learn More
              <span class="text-gray-400" aria-hidden="true">&rarr;</span>
            </a>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
          <img src="static/images/heroSection.png" alt="mockup">
      </div>
      <div class="absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl">
        <svg class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
          <defs>
            <linearGradient id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
              <stop stop-color="#5B43BC"></stop>
              <stop offset="1" stop-color="#7C68CA"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>                
  </div>
</section>
<section class="">
  <div class="py-8 px-4 mx-auto max-w-6xl sm:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md mb-8 lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">How does it work?</h2>
          <p class="text-gray-500 sm:text-xl dark:text-gray-400 text-center">In need of a new calculator? We got you covered.</p>
      </div>
      <div class="space-y-8 grid grid-cols-1 sm:grid-cols-3 md:gap-12 md:space-y-0" data-taos-offset="300">
          <div class="grid justify-items-center sm:justify-items-start rounded shadow-blue-500/50 delay-[300ms] duration-[1000ms] taos:translate-x-[-200px] taos:opacity-0">
              <div class="flex justify-center items-center mb-2 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>                  
              </div>
              <h3 class="mb-2 text-xl font-bold text-indigo-700">Step 1</h3>
              <p class="text-gray-500 dark:text-gray-400">Search for the calculator you want.</p>
          </div>
          <div class="grid justify-items-center sm:justify-items-start delay-[700ms] duration-[1000ms] taos:translate-x-[-200px] taos:opacity-0">
              <div class="flex justify-center items-center mb-2 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                </svg>                
              </div>
              <h3 class="mb-2 text-xl font-bold text-indigo-700">Step 2</h3>
              <p class="text-gray-500 dark:text-gray-400">Chat with the seller and discuss price, condition, etc.</p>
          </div>
          <div class="grid justify-items-center sm:justify-items-start delay-[1100ms] duration-[1000ms] taos:translate-x-[-200px] taos:opacity-0">
              <div class="flex justify-center items-center mb-2 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>  
              </div>
              <h3 class="mb-2 text-xl font-bold text-indigo-700">Step 3</h3>
              <p class="text-gray-500 dark:text-gray-400">Decide on a place to meet and conduct your transaction. It's that easy.</p>
          </div>
      </div>
  </div>
</section>
<section>
<div class="py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-2 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl mx-auto">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white" id="">Meet The Developers</h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400 text-center">They made the coolest ICS4U project.</p>
    </div>
    <ul role="list" class="mx-auto grid gap-x-48 gap-y-12 sm:grid-cols-2 sm:gap-y-8 xl:col-span-2 delay-[300ms] duration-[600ms] taos:translate-y-[50px] taos:opacity-0">
      <li>
        <div class="grid justify-items-center">
          <img class="h-32 w-32 rounded-full" src="static/images/raihaan.jpg" alt="">
          <div>
            <h3 class="text-base text-center font-semibold leading-7 tracking-tight text-gray-900">Raihaan Sandhu</h3>
            <p class="text-sm text-center font-semibold leading-6 text-indigo-600">Grade 11 Student @ MHS</p>
          </div>
        </div>
      </li>
      <li>
        <div class="grid justify-items-center">
          <img class="h-32 w-32 rounded-full" src="static/images/darun.jpg" alt="">
          <div>
            <h3 class="text-base text-center font-semibold leading-7 tracking-tight text-gray-900">Darun Kanesalingam</h3>
            <p class="text-sm text-center font-semibold leading-6 text-indigo-600">Grade 11 Student @ MHS</p>
          </div>
        </div>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</div>
</section>
<script>document.documentElement.classList.add('js')</script>
<script src="https://unpkg.com/taos@1.0.2/dist/taos.js"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script>
  var app = document.getElementById('app');

var typewriter = new Typewriter(app, {
  loop: true,
  delay: 75,
});

typewriter
  .pauseFor(500)
  .typeString('Welcome to <span style="color: #5145cd;">Calcura</span>')
  .pauseFor(300)
  .deleteChars(7)
  .typeString('your hub to <span style="color: #5145cd;">buy</span> calculators')
  .pauseFor(300)
  .deleteChars(15)
  .typeString('<span style="color: #5145cd;">sell</span> calculators')
  .pauseFor(1000)
  .start();
</script>
  {% endblock %}
  </body>
</html>