{% extends './base.html' %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Shop page | Calcura</title>
  </head>
  <body>

  {% block content %}
    <div class="mx-auto max-w-7xl my-4 px-4 sm:py-4 sm:px-6 lg:px-8">
      {% if filter%}
      <h2 class="content-center text-2xl font-bold tracking-tight text-gray-900">Results for "{{filter}}"</h2>
      {% endif %}
      <div class="mt-6 grid grid-cols-2 gap-y-10 gap-x-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:gap-x-8">
        {%for calc in listings  %}
        <div class="group relative" data-modal-target="defaultModal{{calc.id}}" data-modal-toggle="defaultModal{{calc.id}}" >
          <div class="h-72 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200">
            <img src="{{calc.image.0}}"  class="h-full w-full object-cover object-center lg:h-full lg:w-full group-hover:opacity-50">
            <div class="flex flex-row absolute text-xl text-grey-600 opacity-0 w-full justify-center group-hover:opacity-100 font-bold top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 mx-auto items-center">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
              </svg> -->
            </div>
          </div>
          
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700 text font-semibold">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{calc.title}}
              </h3>
            {% for tag in calc.tags %}
            <div class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full">
              {{tag}}
            </div>
            {% endfor %}
            </div>
            <div>
              <p class="text-sm font-medium text-gray-900">${{calc.price}}</p>
            </div>
          </div>
        </div>
        {% endfor %}

        {% for calc in listings%}
        <div id="defaultModal{{calc.id}}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
          <div class="bg-white rounded-lg shadow relative w-full h-max min-h-full max-w-7xl">
              <!-- Modal content -->
                  <!-- Modal header -->
                  <div class="m-2 flex items-center justify-between rounded-t">
                      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal{{calc.id}}">
                          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                          <span class="sr-only">Close modal</span>
                      </button>
                  </div>
                  <div class="mt-24 flex flex-row mx-5 justify items-center">
                    <div class="flex w-2/5">
                      <img class="max-w-md rounded-lg" src="{{calc.image.0}}" alt="image description">
                    </div>
                    <div class="w-3/5">
                      <div>
                        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{calc.title}}</h1>
                      </div>
                      <div class="mt-5">
                        <h3 class="sr-only">Description</h3>
              
                        <div class="space-y-6">
                          <p class="text-base text-gray-900">{{calc.description}}</p>
                        </div>
                      </div>
                      {% for tag in calc.tags %}
                      <div class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full">
                        {{tag}}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
          </div>
        </div>
        </div>
        {% endfor %}
        <!-- More products... -->
      </div>
    </div>
  
  {% endblock %}
  </body>
</html>